
# Chaque utilisateur du dépôt devra créer ses propres projets à partir du ProJucer ! On verra bien...
Builds
# Inutile de garder le code de Juce dans nos répertoires git... Tant qu'on travaille toujours sur la dernière version de Juce, et que ça compile
JuceLibraryCode
# Et devra générer sa propre doc avec Doxygen (à modifier éventuellement par la suite)
Documentation/html



# Created by https://www.gitignore.io/api/windows,xcode

# Created by https://www.gitignore.io/api/c++

### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


